.dialogues {
    display: grid;
    grid-template-columns: 4fr 10fr;
    grid-column-gap: 20px;
}

.dialoguesItems {
    padding: 10px;
}

.dialoguesItems .active {
    color: whitesmoke;
}

.conversation img {
    width: 60px;
    height: 60px;
    border-radius: 20px;

}

.conversation {
    padding: 10px;
}

.messages {
    color: whitesmoke;
    padding: 10px;
}